fastapi
uvicorn
python-dotenv
supabase
httpx
newspaper4k
lxml_html_clean
openai
google-genai
mistralai
edge-tts
requests
ffmpeg
torch
torchvision
torchaudio
librosa
numpy
opencv-python
opencv-contrib-python
tqdm
pydub
scipy
yacs
gdown
face-alignment
dlib
